{# PARTIAL PAGE SUMMARY #}

<div class="excerpt mb-3 text-body">
    {% if page.summary != page.content %}
        {{ page.summary|striptags|truncate(header.summary.size)|replace({'&hellip;': ''})|raw }}
    {% else %}
        {{ page.content|striptags|truncate(site.summary.size)|replace({'&hellip;': ''})|raw }}
    {% endif %}
</div>