{# PARTIAL READING TIME #}
{#This code will work if the reading time plugin is enabled #}
<span class="text-muted d-block mt-1">
<time class="dt-published">
        <i class="fas fa-clock"></i> {{ page.content|readingtime }}
    </time>
</span>