{# PARTIAL READING TIME #}
{#This code will work if the reading time plugin is enabled #}
<span class="text-muted d-block mt-1">
    <time class="dt-published" datetime="PT{{ page.content|readingtime({'format': '{minutes_short_count}'}) }}M{{ page.content|readingtime({'format': '{seconds_short_count}'}) }}S">
        <i class="fas fa-clock"></i> {{ page.content|readingtime }}
    </time>
</span>